<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="THOK.AS.Report.Properties.Settings.ServerConnectionString"
            connectionString="Data Source=.;Initial Catalog=Logistics;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="THOK.AS.Report.Properties.Settings.StockDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=StockDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="THOK.AS.Report.Properties.Settings.WMSConnectionString"
            connectionString="Data Source=.;Initial Catalog=THOK_WMS_DATA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>